* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
}

.flexcontainer {
    height: 100%;
}

.imgfoto img {
    width: 225px;
    height: auto;
    position: fixed;
    margin: 30px 30px 30px 60px;
    border-radius: 50%;
    z-index: 1;
    
}

.menuprincipal {
    display: flex;
    flex-direction: row;
    justify-content:end;
    position: fixed;
    align-items: center;
    width: 96.1%;
    background: rgba(46, 38, 38, 0.308);
    padding: 38px;
      
}

.menuprincipal h1 a {
    text-decoration: none;
    margin-right: 60px;
    text-align: center;
    color:#fff;
}

.menuprincipal h1 a:hover {
    font-size: 1.1em;
    font-weight: bolder;
    color: blue;
    transition: all 2s ease;
}
.contato img {
    width: 40px;
    height: auto;
    align-items: center;
    margin: 5px 15px;
    border-radius: 10px;
}
.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    margin-top: 133px;
    width: 100%;
    height: 60%;
    background: linear-gradient(180deg, rgba(46, 38, 38, 0.308), white);
}

.conteudo p {
    width: 50%;
    margin-left: 400px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    inset-block-end: 0;
    inline-size: 100%;
    block-size: 60px;
    font-size: 12px;
    text-align: center;
    background-color: rgba(46, 38, 38, 0.308);
}

.rodape {
    display: flex;
    inline-size: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.rodape div {
    padding: 10px;
}

.rodape img {
    width: 15px;
}

.rodape div a {
    text-decoration: none;
    color:black
}

.rodape div a:hover {
    font-size: 15px;
    font-weight: bold;
    color: blue;
    transition: all 1s ease;
}

@media only screen and (max-width: 895px) {

    .imgfoto {
        padding: 20px 0 20px 0;
        background: rgba(46, 38, 38, 0.308);
    }

    .imgfoto img {
        width: 150px;
        height: auto;
        display: block;
        position: revert;
        margin: auto;
        background-color: rgba(46, 38, 38, 0.308);
    }

    .principal {
        width: 100%;
        margin: auto;
        align-items: center;
    }

    .menuprincipal {
        display: block;
        position: relative;
        width: 100%;
        margin-right: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
    }

    .menuprincipal h1 a:hover {
        font-size: 0.9em;
        transform: perspective(600px) rotateY(360deg);
        transition: all 2s ease;
    }

    .menuprincipal h1 a {
        width: 100%;
        margin: auto;
        font-size: 0.8em;
    }

    .contato {
        display: inline-block;
        margin: 15px auto;
        width: calc(33% - 10px);
    }

    .contato img {
        width: 30px;
        height: auto;
        margin: auto;
        
        
    }

    .contato a:hover img {
        width: 40px;
        transform: perspective(600px) rotateX(360deg);
        transition: all 1s ease;
    }

    #gmail {
        text-align: right;
    }

    #linkedin {
        text-align: center;
    }

    #whastapp {
        text-align: left;
    }

    .conteudo {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        margin: auto;
    }

    .conteudo p {
        width: 90%;
        font-size: 0.9em;
        border-radius: 20px;
        margin: 0 5px;
        padding: 10px;
        border: none;
        text-align: center;
    }

    .footer {
        position: relative;
    }

    .rodape {
        flex-direction: column;

    }

    .rodape div {
        padding: 0;
    }
}

@media screen and (max-height: 450px) {
    
    footer {
        display: none;
    }
}