:root {
    --gray: rgba(46, 38, 38, 0.308);
    --white: #ffffff;
    --black: #000000;
}
* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--fontColor);
}

.light-theme {
    --bg: var(--gray);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
    
}

.flexcontainer {
    height: 90%;
}

.imgfoto img {
    width: 225px;
    height: auto;
    position: fixed;
    margin: 30px 30px 30px 60px;
    border-radius: 50%;
    z-index: 1;
    
}

.menuprincipal {
    display: flex;
    flex-direction: row;
    justify-content:end;
    position: fixed;
    align-items: center;
    width: 96.1%;
    background: var(--bg)/* rgba(46, 38, 38, 0.308) */;
    padding: 38px;
      
}

.menuprincipal h1 a {
    text-decoration: none;
    margin-right: 30px;
    text-align: center;
    color:#fff;
}

.menuprincipal h1 a:hover {
    font-size: 1.1em;
    font-weight: bolder;
    color: blue;
    transition: all 0.5s ease;
}

.btn {
    cursor: pointer;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 10px;
    margin-inline-end: 30px;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.contato img {
    width: 34px;
    height: auto;
    align-items: center;
    margin: 5px 15px;
    padding: 3px;
    border-radius: 10px;
    background-color: white;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    margin-top: 133px;
    width: 100%;
    background: linear-gradient(180deg, var(--bg) /*rgba(46, 38, 38, 0.308)*/, white);
}

.conteudo p {
    width: 50%;
    height: 373px;
    margin-left: 400px;
    padding: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    inset-block-end: 0;
    inline-size: 100%;
    block-size: 90px;
    font-size: 12px;
    text-align: center;
    background-color: var(--bg) /* rgba(46, 38, 38, 0.308) */;

}

.rodape {
    display: flex;
    inline-size: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.rodape div {
    padding-left: 3px;
}

.rodape img {
    width: 15px;
    padding: 3px;
    border-radius: 10px;
    background-color: white;
}

.rodape div a {
    padding-right: 15px;
    text-decoration: none;
    text-align: end;
    color: var(--fontColor) /* black */;
}

.rodape div a:hover {
    font-size: 15px;
    font-weight: bold;
    color: blue;
    transition: all 0.5s ease;
}

